<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HOLA MUNDO</h1>
    <table>
        <thead>
            <th>Nombre</th>
            <th>Valor</th>
        </thead>
        <tbody>
            {% for key, value in diccionarioEvaluate.items %}
            <tr>
                <td>{{key}}</td>
            <td>{{value}}</td>
            </tr>
            
            {% endfor %}
        </tbody>
        
        
    </table>
    
</body>
</html>

<h1>Hello men </h1>
<h2>diccionario</h2>
<ul>
    {% for key, value in diccionario.items %}
      <li>{{key}} {{value}}</li>
    {% endfor %}
</ul>
<h2>listas</h2>
<ul>
    {% for item in lista %}
      <li>{{item}}</li>
    {% endfor %}
</ul>